/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    gap: 20px;
  }
  
  .branding {
    flex: 1;
    text-align: center;
  }

  .mokesell-logo {
    width: 400px;
    height: auto;
  }
  
  .illustration {
    width: 400px;
  }
  
  .login-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .input-field {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    width: 450px;
    height: 44px;
    font-size: 17px;
    padding: 1rem;
    border: none; 
    outline: none; 
    border-radius: 15px; 
    background-color: #D9D9D9; 
    color: grey; 
  }
  
  .input-field:focus {
    border-color: #ff6b6b;
    box-shadow: 0 0 5px rgba(255, 107, 107, 0.5);
  }
  
  button {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    width: 478px;
    height: 44px;
    font-size: 20px;
    border: none; 
    outline: none; 
    border-radius: 20px; 
    background-color: #D9D9D9; 
    color: black; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #D9D9D9; 
}

button:focus {
    outline: none; 
}
  